/* Checkbox styles */
.checkbox_cont {
	display:block;
	position:relative;
	padding-left:35px;
	margin-bottom:12px;
	cursor:pointer;
	line-height:1.3em;
	font-size:1.35em;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select: none;
}
.scheckbox_cont{
	padding-left:29px;
	margin-bottom:12px;
	cursor:pointer;
	line-height:1.1em;
	font-size:1.2em;
}
.checkbox_cont input[type="checkbox"] {
	position:absolute;
	opacity:0;
	cursor:pointer;
}
.ccheck {
	position:absolute;
	top:7px;
	left:0;
	height:25px;
	width:25px;
	background-color:#303030;
}
.sccheck {
	top:3px;
	height:23px;
	width:23px;
}
.checkbox_cont:hover input ~ .ccheck {
	background-color:#1a1a1a;
}
.checkbox_cont input:checked ~ .ccheck {
	background-color: #22ff47;
}
.ccheck:after {
	content:"";
	position:absolute;
	display:none;
}
.checkbox_cont input:checked ~ .ccheck:after {
	display: block;
}
.checkbox_cont .ccheck:after {
	left:9px;
	top:5px;
	width:5px;
	height:10px;
	border:solid white;
	border-width:0 3px 3px 0;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}

.setting_traffic {
	display:block;
	float:left;
	padding:.6em 1em;
	margin:.25%;
	background-color:#fff;
	transition:.2s ease-in-out background-color,.2s ease-in-out color;
	font-size:1.2em;
	font-weight:500;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select: none;
}
.setting_traffic:hover {
	background-color: #313131;
}
.traffic_enabled{color:#22ea46;}.traffic_enabled:hover{color:#22ff46;}
.traffic_disabled{color:#dd092a;}.traffic_disabled:hover{color: #ff092c;}

.fullwidthtext{
	display: block;
	width:100%;
}
.traffic_txt{
	font-weight:900;
}
/* Navigation positions */
.nav_top #main{
	width:100%;
	margin:0;
	height:92.5%;
	top:7.5%;
}
.nav_top #nav {
	line-height:7.5% !important;
	height:7.5%;
	width:100%;
	margin:0;
	top:0;
}
.nav_top .side_el {
	float:left;
	width:14.285%;
	line-height:7.5vh !important;
	height:100% !important;
}
.nav_top .sect_header{
	display:none;
}

.nav_right #nav {
	right:0 !important;
	float:right !important;
}
.nav_right #main {
	left:0 !important;
	margin:0 !important;
}

/* Trace Default */
.tracedefault_theme{
	background:#8719ff;
	background:-webkit-linear-gradient(to top, #FFAF7B, #d88f93, #8719ff);
	background:linear-gradient(to top, #c66a57, #bb7783, #6607cd);
}
.tracedefault_timealteration1 {
	background:-webkit-linear-gradient(to top, #c56a43, #ba0929, #154e86);
	background:linear-gradient(to top, #c56a43, #ba0929, #154e86);
}
.tracedefault_timealteration2 {
	background:-webkit-linear-gradient(to top, #440c25, #a03158, #6d190e);
	background:linear-gradient(to top, #440c25, #a03158, #6d190e)
}
.tracedefault_timealteration3 {
	background:-webkit-linear-gradient(to top, #6e1250, #8e133e, #3604bf);
	background:linear-gradient(to top, #6e1250, #8e133e, #3604bf);
}

/* Trace Greyscale */
.tracegreyscale_theme{
	background: #434343;
	background:-webkit-linear-gradient(to top, #535353, #595959);
	background:linear-gradient(to top, #535353, #595959);
}
.tracegreyscale_theme ::selection {
	background:#1a1a1a;
}
.tracegreyscale_theme .checkbox_cont input:checked ~ .ccheck {
	background-color: #5a5a5a;
}
.tracegreyscale_theme .blc_defreq {color:#1a1a1a;}
.tracegreyscale_theme .blc_premreq {color:#1a1a1a;}
.tracegreyscale_theme .blc_optreq {color:#1a1a1a;}

.tracegreyscale_theme .traffic_enabled{color: #000;background-color: #fff;} .tracegreyscale_theme .traffic_enabled:hover{color: #000;}
.tracegreyscale_theme .traffic_disabled{color: #fff;background-color: #000;} .tracegreyscale_theme .traffic_disabled:hover{color: #fff;}

/* Trace Light */
.tracelight_theme{
	background:#ffffff;
	background:-webkit-linear-gradient(to top, #ffffff, #efefef);
	background:linear-gradient(to top, #ffffff, #efefef);
	color:#1a1a1a;
}
.tracelight_theme ::selection {
	background: #7a7a7a;
}
.tracelight_theme #nav, .tracelight_theme .sect_header {
	color:#fff;
}

.tracelight_theme .blc_defreq {background-color:#1a1a1a;color:#fff;}
.tracelight_theme .blc_premreq {background-color:#1a1a1a;color:#fff;}
.tracelight_theme .blc_optreq {background-color:#1a1a1a;color:#fff;}

.tracelight_theme button{
	background-color:rgba(0,0,0,0.4);
}
.tracelight_theme table {
	background-color: rgba(0,0,0,0.3);
	color: #fafafa;
}
.tracelight_theme .sect_adv_header {
	background-color: rgba(0,0,0,0.3);
	color:#fff;
}
.tracelight_theme .sect_adv {
	box-shadow:inset 0 0 0 1px #1a1a1a;
}

.tracelight_theme .sect_adv_cont{
	background-color:rgba(255,255,255,0.3);
}

/* Trace Intense */
.traceintense_theme{
	background:#FF5722;
	background:-webkit-linear-gradient(45deg, #6d57c6, #FF5722, #cd078c);
	background:linear-gradient(45deg, #6d57c6, #FF5722, #cd078c);
	color:#fff;
}
.traceintense_theme ::selection {
	background:#6d57c6;
}
.traceintense_theme button{
	background-color:rgba(0,0,0,0.4);
}
.traceintense_theme .sect_adv_cont{
	background-color:rgba(255,255,255,0.15);
}

/* Trace Beach Sunset */
.tracebeach_theme {
	background:#225cff;
	background:-webkit-linear-gradient(30deg, #ffa500, #225cff, #ff0000);
	background:linear-gradient(30deg, #ffa500, #225cff, #ff0000);
	color:#fff;
}
.tracebeach_theme ::selection {
	background:#000;
}
.tracebeach_theme button{
	background-color:rgba(0,0,0,0.4);
}
.tracebeach_theme .sect_adv_cont{
	background-color:rgba(255,255,255,0.15);
}

/* Trace Intense */
.traceleaf_theme{
	background:#386244;
	background:-webkit-linear-gradient(45deg, #386244, #821f00, #c00037);
	background:linear-gradient(45deg, #386244, #821f00, #c00037);
	color:#fff;
}
.traceleaf_theme ::selection {
	background:#386244;
}
.traceleaf_theme button{
	background-color:rgba(0,0,0,0.4);
}
.traceleaf_theme .sect_adv_cont{
	background-color:rgba(255,255,255,0.15);
}